{{ define "brands/index" }}

<h3>品牌首页</h3>

<a href="/brand/new">添加品牌</a>

<div>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>名称</th>
				<th>别名</th>
				<th>国家</th>
				<th>简介</th>
			</tr>
		</thead>

		<tbody>

			{{ range $index, $apiBrand := .ApiBrands }}
			<tr>
				<td>{{ $index }}</td>
				<td><a href="{{ .Link }}">{{ $apiBrand.Name }}</a></td>
				<td>{{ $apiBrand.Alias }}</td>
				<td>{{ $apiBrand.Country }}</td>
				<td>{{ $apiBrand.Intro }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>

</div>

{{ end }}