{{ define "brands/show" }}

<div class="show-brand" data-brand="{{ .ApiBrand.Id }}">

	<div class="row">

		<div class="span3">
			<img src="{{ .ApiBrand.Logo }}" style="width:200px; height:200px">
			<p>
				<button class="btn btn-small btn-follow-brand" type="button" {{ if .ApiBrand.HasFollowed }} style="display:none" {{ end }}>Follow Brand</button>
				<button class="btn btn-small btn-unfollow-brand" type="button" {{ if not .ApiBrand.HasFollowed }} style="display:none" {{ end }}>Unfollow Brand</button>
			</p>
		</div>

		<div class="span6">
			<h4>{{ .ApiBrand.Name }}</h4>
			<a href="{{ .ApiBrand.Website }}">Official Site</a>
			<a href="/brand/{{ .ApiBrand.Id }}/edit">Edit Brand</a>

			<dl class="dl-horizontal">
				<dt>Alias:</dt>
				<dd>{{ .ApiBrand.Alias }}</dd>

				<dt>诞生地:</dt>
				<dd>{{ .ApiBrand.Country }}</dd>

				<dt>Introduction:</dt>
				<dd>{{ .ApiBrand.Intro }}</dd>
			</dl>
		</div>

	</div>

	<hr>

	<h4>Products</h4>
	<div class="row">
		<div class="span9">
			<ul class="inline">
				{{ range .ApiProducts }}
					<li><img src="{{ .Image }}" style="width:100px; height:100px"><h5 class="text-center"><a href="{{ .Link }}">{{ .Name }}</a></h5></li>
				{{ end }}
			</ul>
		</div>
	</div>

</div>
{{ end }}