{{ define "brands/show" }}

{{ $brandStats := .ApiBrand.BrandStats }}

<div class="show-brand" data-brand="{{ .ApiBrand.Id }}">

	<div class="row">

		<div class="span3">
			<img src="{{ .ApiBrand.Logo }}" style="width:200px; height:200px">
			<p>
				<button class="btn btn-small btn-follow-brand" type="button" {{ if .ApiBrand.HasFollowed }} style="display:none" {{ end }}>关注</button>
				<button class="btn btn-small btn-unfollow-brand" type="button" {{ if not .ApiBrand.HasFollowed }} style="display:none" {{ end }}>取消关注</button>
			</p>
			<p>
				<a href="/brand/{{ .ApiBrand.Id }}/edit">编辑</a> |
				<a href="/product/new">添加新产品</a>
			</p>
		</div>

		<div class="span6">
			<h4>{{ .ApiBrand.Name }}</h4>

			<dl class="dl-horizontal">
				<dt>别  名:</dt>
				<dd>{{ .ApiBrand.Alias }}</dd>

				<dt>诞生地:</dt>
				<dd>{{ .ApiBrand.Country }}</dd>

				{{ if .ApiBrand.Website }}
					<dt>官 网:</dt>
					<dd><a href="{{ .ApiBrand.Website }}" target="_blank">{{ .ApiBrand.Website }}</a></dd>
				{{ end }}

				<dt>产品数量:</dt>
				<dd>{{ $brandStats.ProductCount }} 件</dd>

				<dt>使用心得:</dt>
				<dd>{{ $brandStats.ReviewCount }} 篇</dd>

				<dt>关注人数:</dt>
				<dd>{{ $brandStats.FollowerCount }} 人</dd>

				<dt>简  介:</dt>
				<dd>{{ .ApiBrand.Intro }}</dd>
			</dl>
		</div>

	</div>

	<hr>

	<h4>品牌动态</h4>
	<hr>

	<h4></h4>

	<h4>热门产品</h4>
	<div class="row">
		<div class="span9">
			<ul class="inline">
				{{ range .ApiProducts }}
					<li><img src="{{ .Image }}" style="width:100px; height:100px"><h5 class="text-center"><a href="{{ .Link }}">{{ .Name }}</a></h5></li>
				{{ end }}
			</ul>
		</div>
	</div>

	<h4>Ta们也在关注 ({{$brandStats.FollowerCount}})</h4>
	<div class="row">
		<div class="span9">
			<ul class="inline">
				{{ range .BrandFollowers }}
					<li><img src="{{ .Avatar }}" style="width:80px; height:80px"><h5 class="text-center"><a href="{{ .Link }}">{{ .Name }}</a></h5></li>
				{{ end }}
			</ul>
		</div>
	</div>

</div>
{{ end }}