{{ define "accounts/edit_profile" }}

{{ $profile := .Account.Profile }}

<form action="/profile/edit" method="post" class="form-horizontal">
	<fieldset>
		<div>
			<legend><strong>{{ .Account.Name }}</strong>
				<small><span class="muted">({{ .Account.Email }})</span></small>
			</legend>
		</div>

		<div class="control-group">
			<label class="control-label">Gender</label>
			<div class="controls">
				<label class="radio inline">
					<input type="radio" name="Profile.Gender" value="false" {{ if not $profile.Gender }}checked{{end}}> Female
				</label>
				<label class="radio inline">
					<input type="radio" name="Profile.Gender" value="true" {{ if $profile.Gender }}checked{{end}}> Male
				</label>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Birthday</label>
			<div class="controls">
				<select name="Profile.Year" class="input-small">
					<option>please select</option>
					<option value="1986">1986</option>
					<option value="1985">1985</option>
					<option value="1984">1984</option>
				</select>
				<select name="Profile.Month" class="input-mini">
					<option>03</option>
					<option>04</option>
				</select>
				<select name="Profile.Day" class="input-mini">
					<option>11</option>
					<option>20</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Location</label>
			<div class="controls">
				<input type="text" name="Profile.Location" value="{{ $profile.Location }}" class="input-large">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Hair Texture</label>
			<div class="controls">
				<select id="hair-texture-select" name="Profile.HairTexture" class="input-large">
					<option>please select</option>
					<option value="1">Dry</option>
					<option value="2">Wet</option>
					<option value="3">Yellow</option>
				</select>
			</div>
			<script>$("#hair-texture-select").val("{{$profile.HairTexture }}")</script>
		</div>

		<div class="control-group">
			<label class="control-label">Description</label>
			<div class="controls">
				<div class="textare">
					<textarea name="Profile.Description">{{ $profile.Description }}</textarea>
				</div>
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save changes</button>
			<button type="button" class="btn">Cancel</button>
		</div>
	</fieldset>
</form>

{{ end }}