{{ define "products/index" }}

<h3>化妆品首页</h3>

<a href="/product/new">添加</a>

<div>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>名称</th>
				<th>别名</th>
				<th>品牌</th>
				<th>贡献者</th>
				<th width="60%">简介</th>
			</tr>
		</thead>

		<tbody>

			{{ range $index, $apiProduct := .ApiProducts }}
			<tr>
				<td>{{ $index }}</td>
				<td><a href="{{ $apiProduct.Link }}">{{ $apiProduct.Name }}</a></td>
				<td>{{ $apiProduct.Alias }}</td>
				<td><a href="{{ $apiProduct.Brand.Link }}">{{ $apiProduct.Brand.Name }}</a></td>
				<td>
				{{ if $apiProduct.Author.Name }}
					<a href="{{ $apiProduct.Author.Link }}">{{ $apiProduct.Author.Name }}</a>
				{{ end }}
				</td>
				<td>{{ $apiProduct.Intro }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>

</div>


{{ end }}