{{ define "products/show" }}

<div class="show-product" data-product="{{ .ApiProduct.Id }}">

	<div class="row">

		<div class="span3">
			<p><img src="{{ .ApiProduct.Image }}"></p>
			<p>
				<button class="btn btn-small btn-add-wishitem" type="button" {{ if .ApiProduct.HasWished }} style="display:none" {{ end }}>想 要</button>
				<button class="btn btn-small btn-remove-wishitem" type="button" {{ if not .ApiProduct.HasWished }} style="display:none" {{ end }}>取消想要</button>
				<a href="#ownitem-modal" role="button" class="btn btn-small link-add-ownitem-trigger" data-toggle="modal" {{ if .ApiProduct.HasOwned }} style="display:none" {{ end }}>用 过</a>
				<button class="btn btn-small btn-remove-ownitem" type="button" {{ if not .ApiProduct.HasOwned }} style="display:none" {{ end }}>取消用过</button>
			</p>

			<a href="/product/{{ .ApiProduct.Id }}/edit">编 辑</a>
		</div>

		<div class="span6">
			<h4>{{ .ApiProduct.Name }}</h4>

			<dl class="dl-horizontal">

				{{ if .ApiProduct.Alias }}
					<dt>别  名:</dt>
					<dd>{{ .ApiProduct.Alias }}</dd>
				{{ end }}

				{{ if .ApiProduct.Author.Name }}
					<dt>贡献者:</dt>
					<dd>
						<a href="{{ .ApiProduct.Author.Link }}">{{ .ApiProduct.Author.Name }}</a>
					</dd>
				{{ end }}

				<dt>品 牌:</dt>
				<dd><a href="{{ .ApiProduct.Brand.Link }}">{{ .ApiProduct.Brand.Name }}</a></dd>

				{{ if .ApiProduct.Category }}
					<dt>分 类:</dt>
					<dd>{{ .ApiProduct.Category.Name }}</dd>
				{{ end }}

				{{ if .ApiProduct.SubCategory }}
					<dt>小 类:</dt>
					<dd>{{ .ApiProduct.SubCategory.Name }}</dd>
				{{ end }}

				{{ if .ApiProduct.Efficacies }}
					<dt>功 效:</dt>
					<dd>
					{{ range .ApiProduct.Efficacies }}
						{{ .Name }}
					{{ end }}
					</dd>
				{{ end }}
				<p></p>
				<dt>简 介:</dt>
				<dd>{{ .ApiProduct.Intro }}</dd>
			</dl>
		</div>

	</div>

	<hr>

	<!-- Product Reviews -->
	<div class="row">
		<div class="span3">
			<!-- Do nothing now -->
		</div>

		<div class="span9">
			<h4>使用心得</h4>

			{{ range .ApiReviews }}
			<div class="row">
				<div class="span1">
					<img src="{{.Author.Avatar}}" style="width:60px; height:60px">
					<br>
					<a href="{{ .Author.Link }}">{{ .Author.Name }}</a>
				</div>
				<div class="span4">
					评 分：{{.Rating}}

					<br>
					{{ .Content }}
					<br>

					功 效:
					{{ range .Efficacies }}
						<span>{{.Name}}</span>
					{{ end }}
				</div>
			</div>
			<p></p>
			{{ end }}

		</div>
	</div>

	<!-- Review Form -->
	<div class="row">
		<div class="span3">
			<!-- Do nothing now -->
		</div>
		<div class="span9">
			<hr>
			<form action="/review/create" method="post" class="form-horizontal">
				<input name="Id" type="hidden" value="{{ .ReviewInput.Id }}"/>
				<input name="ProductId" type="hidden" value="{{ .ApiProduct.Id }}"/>
				<fieldset>
					<h4>写心得</h4>
					{{ range $value, $text := .RatingOptions }}
					<label class="radio inline">
						<input type="radio" name="Rating" value="{{$value}}">{{$text}}
					</label>
					{{ end }}
					<p></p>

					{{ range $index, $efficacy := .ApiProduct.Category.Efficacies }}
						<label class="checkbox inline" for="{{$efficacy.Id}}">
							<input type="checkbox" name="EfficacyIds[{{$index}}]" id="{{$efficacy.Id}}" value="{{$efficacy.Id}}">{{$efficacy.Name}}
						</label>
					{{ end }}
					<p></p>

					<textarea rows="3" name="Content"></textarea>
					<p></p>

					<button type="submit" class="btn">提 交</button>
				</fieldset>
			</form>

		</div>
	</div>

	<!-- Modal -->
	<div id="ownitem-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">我用过</h3>
		</div>

	  	<div class="modal-body form-horizontal">
			<div class="control-group">
				<label class="control-label" for="selectbasic">获得途径</label>
				<div class="controls">
					<select name="selectbasic" class="input-large select-gotFrom">

						{{ range $value, $text := .GotFromOptions }}
							<option value="{{ $value }}">{{ $text }}</option>
						{{ end }}

					</select>
				</div>
			</div>
	  	</div>

	  	<div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true">关 闭</button>
	    	<button type="btn" class="btn btn-primary btn-add-ownitem">保  存</button>
	  	</div>
	</div>

</div>

{{ end }}