{{ define "products/show" }}

<div class="show-product" data-product="{{ .ApiProduct.Id }}">

	<div class="row">

		<div class="span3">
			<p><img src="http://lorempixel.com/g/200/200/"></p>
			<p>
				<button class="btn btn-small btn-add-wishitem" type="button" {{ if .ApiProduct.HasWished }} style="display:none" {{ end }}>Wish this</button>
				<button class="btn btn-small btn-remove-wishitem" type="button" {{ if not .ApiProduct.HasWished }} style="display:none" {{ end }}>Unwish this</button>
			</p>
			<p>
				<a href="#ownitem-modal" role="button" class="btn btn-small link-add-ownitem-trigger" data-toggle="modal" {{ if .ApiProduct.HasOwned }} style="display:none" {{ end }}>Own this</a>
				<button class="btn btn-small btn-remove-ownitem" type="button" {{ if not .ApiProduct.HasOwned }} style="display:none" {{ end }}>Remove Owning</button>
			</p>
		</div>



		<div class="span6">
			<h4>{{ .ApiProduct.Name }}</h4>
			<a href="/product/{{ .ApiProduct.Id }}/edit">Edit Product</a>

			<dl class="dl-horizontal">

				<dt>Alias:</dt>
				<dd>{{ .ApiProduct.Alias }}</dd>

				{{ if .ApiProduct.Author.Name }}
				<dt>Author:</dt>
				<dd>
					<a href="{{ .ApiProduct.Author.Link }}">{{ .ApiProduct.Author.Name }}</a>
				</dd>
				{{ end }}

				<dt>Brand:</dt>
				<dd><a href="{{ .ApiProduct.Brand.Link }}">{{ .ApiProduct.Brand.Name }}</a></dd>

				<dt>Introduction:</dt>
				<dd>{{ .ApiProduct.Intro }}</dd>
			</dl>
		</div>

	</div>

	<hr>

	<!-- Product Reviews -->
	<div class="row">
		<div class="span3">
			<!-- Do nothing now -->
		</div>

		<div class="span9">
			<h4>Reviews</h4>

			{{ range .ApiReviews }}
			<div class="row">
				<div class="span2">
					<a href="{{ .Author.Link }}">{{ .Author.Name }}</a>
				</div>
				<div class="span4">{{ .Content }}</div>
			</div>
			{{ end }}

		</div>
	</div>

	<!-- Review Form -->
	<div class="row">
		<div class="span3">
			<!-- Do nothing now -->
		</div>
		<div class="span9">
			<hr>
			<form action="/review/create" method="post" class="form-horizontal">
				<input name="Id" type="hidden" value="{{ .ReviewInput.Id }}"/>
				<input name="ProductId" type="hidden" value="{{ .ApiProduct.Id }}"/>
				<fieldset>
					<label>Write a Review</label>
					<textarea rows="3" name="Content"></textarea>
					<p></p>
					<button type="submit" class="btn">Submit</button>
				</fieldset>
			</form>

		</div>
	</div>

	<!-- Modal -->
	<div id="ownitem-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">I own this</h3>
		</div>

	  	<div class="modal-body form-horizontal">
			<div class="control-group">
				<label class="control-label" for="selectbasic">Got from</label>
				<div class="controls">
					<select name="selectbasic" class="input-large select-gotFrom">

						{{ range $value, $text := .GotFromOptions }}
							<option value="{{ $value }}">{{ $text }}</option>
						{{ end }}

					</select>
				</div>
			</div>
	  	</div>

	  	<div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    	<button type="btn" class="btn btn-primary btn-add-ownitem">Save</button>
	  	</div>
	</div>

</div>

{{ end }}