{{ define "feeds/index" }}

	<h3>Products</h3>
	<div class="row">
		<div class="span9">
			<ul class="inline">
				{{ range .ApiProducts }}
					<li><img src="{{.Image}}" style="width:120px;height:120px"><h5 class="text-center"><a href="{{ .Link }}">{{ .Name }}</a></h5></li>
				{{ end }}
			</ul>
		</div>
	</div>

	<hr>

	<h3>Brands</h3>
	<div class="row">
		<div class="span9">
			<ul class="inline">
				{{ range .ApiBrands }}
					<li><img src="http://lorempixel.com/g/120/120/"><h5 class="text-center"><a href="{{ .Link }}">{{ .Name }}</a></h5></li>
				{{ end }}
			</ul>
		</div>
	</div>


	<hr>

	<h3>Users</h3>
	<div class="row">
		<div class="span9">
			<ul class="inline">
				{{ range .ApiUsers }}
					<li><img src="{{ .Avatar }}" style="width:100px;height:100px"><h5 class="text-center"><a href="{{ .Link }}">{{ .Name }}</a></h5></li>
				{{ end }}
			</ul>
		</div>
	</div>

{{ end }}