{{ define "feeds/index" }}

	<h2>Products</h2>
	<div class="row  text-center">
		<div class="span3">
			<img src="http://lorempixel.com/g/150/150/" class="img-rounded">
			<h4>Name one</h4>
		</div>
		<div class="span3">
			<img src="http://lorempixel.com/g/150/150/" class="img-rounded">
			<h4>Name Two</h4>
		</div>
		<div class="span3">
			<img src="http://lorempixel.com/g/150/150/" class="img-rounded">
			<h4>Name Three</h4>
		</div>
	</div>

	<hr>

	<h2>Brands</h2>
	<div class="row">
		<div class="span12">
			<ul class="inline">
				<li><img src="http://lorempixel.com/g/100/100/" alt=""></li>
				<li><img src="http://lorempixel.com/g/100/100/" alt=""></li>
				<li><img src="http://lorempixel.com/g/100/100/" alt=""></li>
				<li><img src="http://lorempixel.com/g/100/100/" alt=""></li>
				<li><img src="http://lorempixel.com/g/100/100/" alt=""></li>
			</ul>
		</div>
	</div>


	<hr>

	<h2>Users</h2>


{{ end }}