{{ define "users/edit" }}

{{ $profile := .ApiUser.Profile }}

<form action="/user/update" method="post" class="form-horizontal">
	<fieldset>

		<div>
			<legend><strong>{{ .ApiUser.Name }}</strong>
				<small><span class="muted">({{ .ApiUser.Email }})</span></small>
			</legend>
		</div>

		<div class="control-group">
			<label class="control-label">头  像</label>
			<div class="controls">
				<img class="object-img" src="{{.ApiUser.Avatar}}">
				<br>
				<input id="fileupload" type="file" data-url="/upload/{{.ApiUser.ImageAttr.ImageType}}/{{.ApiUser.Id}}" multiple>

				<input name="Avatar" class="upload-img-input" type="hidden" value="{{.ApiUser.Avatar }}"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">性  别</label>
			<div class="controls">
				<label class="radio inline">
					<input type="radio" name="Profile.Gender" value="false" {{ if not $profile.Gender }}checked{{end}}>女
				</label>
				<label class="radio inline">
					<input type="radio" name="Profile.Gender" value="true" {{ if $profile.Gender }}checked{{end}}>男
				</label>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">出生日期</label>
			<div id="birthday-picker" class="controls" data-birthday="{{ $profile.Birthday }}"></div>
		</div>

		<div class="control-group">
			<label class="control-label">所在地</label>
			<div class="controls">
				<input type="text" name="Profile.Location" value="{{ $profile.Location }}" class="input-large">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">肤质类型</label>
			<div class="controls">
				<select id="skin-texture-select" name="Profile.SkinTexture" class="input-large">
					<option>-- 请选择 --</option>
					{{ range $value, $text := .SkinTextureOptions }}
						<option value="{{ $value }}">{{ $text }}</option>
					{{ end }}
				</select>
			</div>
			<script>$("#skin-texture-select").val("{{$profile.SkinTexture}}")</script>
		</div>

		<div class="control-group">
			<label class="control-label">发质类型</label>
			<div class="controls">
				<select id="hair-texture-select" name="Profile.HairTexture" class="input-large">
					<option>-- 请选择 --</option>
					{{ range $value, $text := .HairTextureOptions }}
						<option value="{{ $value }}">{{ $text }}</option>
					{{ end }}
				</select>
			</div>
			<script>$("#hair-texture-select").val("{{$profile.HairTexture}}")</script>
		</div>

		<div class="control-group">
			<label class="control-label">自我介绍</label>
			<div class="controls">
				<div class="textarea">
					<textarea name="Profile.Description">{{ $profile.Description }}</textarea>
				</div>
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">保 存</button>
			<button type="button" class="btn">取 消</button>
		</div>
	</fieldset>
</form>

{{ end }}