{{ define "users/show" }}

{{ $profile := .ApiUser.Profile }}

<div class="row">
	<div class="span2">
		<img src="{{.ApiUser.Avatar}}">
		<p></p>
		{{ if .IsCurrent }}
			<a href="/user/edit">修改资料</a> |
			<a href="/note/new">写日志</a>
		{{ end }}
	</div>

	<div class="span6">
		<h5>说点什么吧~</h5>
		<div >
			<textarea class="post-content" style="width:500px"></textarea>
			<button data-post-id="{{.NewPostId}}" class="post-btn btn btn-primary">发 布</button>
		</div>


	</div>

	<div class="span4">

		<dl class="dl-horizontal">
			<dt>邮 件:</dt>
			<dd>{{ .ApiUser.Email }}</dd>

			<dt>性 别:</dt>
			<dd>{{ $profile.Gender }}</dd>

			<dt>生 日:</dt>
			<dd>{{ $profile.Birthday }}</dd>

			{{ if $profile.Location }}
				<dt>所在地:</dt>
				<dd>{{ $profile.Location }} </dd>
			{{ end }}

			<dt>肤质类型:</dt>
			<dd>{{ $profile.SkinTextureText }}</dd>

			<dt>发质类型:</dt>
			<dd>{{ $profile.HairTextureText }}</dd>

			{{ if $profile.Description }}
				<dt>自我简介:</dt>
				<dd>{{ $profile.Description }}</dd>
			{{ end }}
		</dl>
	</div>
</div>

<hr>

<h4>{{.ApiUser.Name}}的动态</h4>
<div class="row">
	<div class="span9">
		<ul class="unstyled">
			{{ range .ApiPosts }}
				<li><span class="muted">{{ .CreatedAt }}</span> {{ .Content }}</li>
			{{ end }}
		</ul>
	</div>
</div>

<hr>


<h4>{{.ApiUser.Name}}的日志</h4>
<div class="row">
	<div class="span9">
		<ul class="unstyled">
			{{ range .ApiNotes }}
				<li><a href="{{ .Link }}">{{ .Title }}</a>
					<span class="muted">{{ .CreatedAt }}</span>
				</li>
			{{ end }}
		</ul>
	</div>
</div>

{{ end }}