{{ define "users/show" }}

{{ $profile := .ApiUser.Profile }}

<div class="row">
	<div class="span3">
		<img src="{{.ApiUser.Avatar}}">
	</div>
	<div class="span6">
		<h4>{{ .ApiUser.Name }}</h4>
		{{ if .IsCurrent }}
			<a href="/user/edit">编 辑</a>
		{{ end }}

		<dl class="dl-horizontal">
			<dt>邮 件:</dt>
			<dd>{{ .ApiUser.Email }}</dd>

			<dt>性 别:</dt>
			<dd>{{ $profile.Gender }}</dd>

			<dt>生 日:</dt>
			<dd>{{ $profile.Birthday }}</dd>

			{{ if $profile.Location }}
				<dt>所在地:</dt>
				<dd>{{ $profile.Location }} </dd>
			{{ end }}

			<dt>肤质类型:</dt>
			<dd>{{ $profile.SkinTextureText }}</dd>

			<dt>发质类型:</dt>
			<dd>{{ $profile.HairTextureText }}</dd>

			{{ if $profile.Description }}
				<dt>自我简介:</dt>
				<dd>{{ $profile.Description }}</dd>
			{{ end }}
		</dl>
	</div>
</div>


{{ end }}