{{ define "users/show" }}

{{ $profile := .ApiUser.Profile }}

<div class="row">
	<div class="span3">
		<img src="http://lorempixel.com/g/200/200">
		<p>
			<button class="btn btn-small" type="button">Upload Avatar</button>
		</p>
	</div>
	<div class="span6">
		<h4>{{ .ApiUser.Name }}</h4>
		{{ if .IsCurrent }}
			<a href="/user/edit">Edit</a>
		{{ end }}

		<dl class="dl-horizontal">
			<dt>Email:</dt>
			<dd>{{ .ApiUser.Email }}</dd>

			<dt>Gender:</dt>
			<dd>{{ $profile.Gender }}</dd>

			<dt>Birthday:</dt>
			<dd>{{ $profile.Birthday }}</dd>

			{{ if $profile.Location }}
				<dt>Location:</dt>
				<dd>{{ $profile.Location }} </dd>
			{{ end }}

			<dt>Skin texture:</dt>
			<dd>{{ $profile.SkinTextureText }}</dd>

			<dt>Hair texture:</dt>
			<dd>{{ $profile.HairTextureText }}</dd>

			{{ if $profile.Description }}
				<dt>Description:</dt>
				<dd>{{ $profile.Description }}</dd>
			{{ end }}
		</dl>
	</div>
</div>


{{ end }}